NODE_ENV=development
PORT=5000

MONGO_URI=

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5000/auth/google/callback

APP_URL=

OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>

BACKEND_URL=<Deployed backend URL>

GCP_PROJECT_ID=
GCP_REGION=
GCP_QUEUE_NAME=<GCP_EMAIL_QUEUE_NAME>
GCP_SMS_QUEUE_NAME=<GCP_SMS_QUEUE_NAME>
GCP_MASTER_QUEUE_NAME=<GCP_MASTER_QUEUE_NAME>

INTERNAL_SECRET=<Your Internal Worker secret header>

RESEND_API_KEY=<Your Resend API key>
EMAIL_FROM=<Your Email domain>

REDIS_URI=<Your Redis URI>
STATIC_SCRIPT_URL=<Your Static file Tracker.js link>

STRIPE_WEBHOOK_SECRET=<Stripe Webhook Secret>
STRIPE_PUBLISHABLE_KEY=<STRIPE_PUBLISHABLE_KEY>
STRIPE_SECRET=<STRIPE_SECRET_KEY>

TWILIO_ACCOUNT_SID=<Twilio Acc SID>
TWILIO_AUTH_TOKEN=<Twilio Auth Token>
